html.default-font-sharkey-default {
	font-family: 'Lexend', 'Hiragino Maru Gothic Pro', "BIZ UDGothic", Roboto, HelveticaNeue, Arial, sans-serif;
}

html.default-font-system-ui {
	font-family: system-ui;
}

html.default-font-misskey-biz {
	font-family: "BIZ UDGothic", Roboto, HelveticaNeue, Arial, sans-serif;
}

html.default-font-roboto {
	font-family: Roboto, Arial, sans-serif;
}

html.default-font-arial {
	font-family: Arial, sans-serif;
}

html.default-font-times {
	font-family: 'Times New Roman', Times, serif;
}
